<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Mercury{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="header" class="jumbotron">
                <h1>Plateforme des Formations</h1>
            </div>
            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Les formations disponibles</h3>
                    <ul>
                        <li><a href="{{ path('pw6_formation_home') }}">Accueil</a></li>
                        <li><a href="{{ path('pw6_formation_add') }}">Ajouter une formation</a></li>
                    </ul>
                    <h4>Dernières formations</h4>
                    {{ render(controller('PW6FormationBundle:Advert:menu', {'limit': 5})) }}
                </div>
                <div id="content" class="col-md-9">                    
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <hr>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
