{% extends 'base.html.twig' %}

{% block body %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Mercury</a>
  </div>
</nav>


<div class="jumbotron">
  <div class="container">
    <h1>Bienvenu!</h1>
    <p>Ceci permet de gerer une partie des ressources humaines</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="{{ path('pw6_formation_home') }}">
        <h2>Gestion des formations</h2>
        <p>
          Ce module propose un catalogue de formations. La salarié demandé une formation.
          Le supérieur hierarchique crée les formations, valide l'inscription du salarié.
        </p>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ path('homepage') }}">
        <h2>Generation de statistiques</h2>
        <p>
          Ce module permet de voir des statisques sur la base de données par exemple
          connaître la porprotion homme-femme, combien de nouveau employés,
          le nombre de départ à la retraite ....
        </p>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ path('homepage') }}">
        <h2>Gestion des recrutements</h2>
        <p>
          Ce module permet de voir les annonces de postes où l'on recherche quelqu'un.
          Les candidts peuvent poser une candidateur. Les gestionnaires pourrant quant
          à eux voir les candidatures par postes et accepter, refuser ou proposer un entretien
          à chaque candidature.
        </p>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ path('homepage') }}">
        <h2>Chat de discussion</h2>
        <p>
          Ce module permet de generer une discussion et inviter certaines personnes
          pour pouvoir discuter en direct avec certaines personnes de la société.
          Cela vient en substitution au téléphone.
        </p>
      </a>
    </div>
  </div>

</div>

{% endblock %}
