{% extends 'PW6FormationBundle::layout.html.twig' %}
{% block pw6formation_body %}
    {% for item in list %}
        <li>{{ item.author }}</li>
    {% else %}
        <li>Pas encore d'application</li>
    {% endfor %}
{% endblock %}
