{% extends '::layout.html.twig' %}

{% block title %}Formations - {{ parent() }}{% endblock %}

{% block body %}

    <h1>Formations</h1>
    <hr>
    {% block pw6formation_body %}{% endblock %}

{% endblock %}
