{% extends 'PW6FormationBundle::layout.html.twig' %}

{% block title %}Validation - {{ parent() }}{% endblock %}

{% block pw6formation_body %}
<div class="well well-lg">
    <p>Votre demande a été pris en compte</p>
</div>
<p>
    <a href="{{ path('pw6_formation_home') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
    </a>
</p>
{% endblock %}
