{% extends "PW6FormationBundle::layout.html.twig" %}

{% block title %}
Modifier une annonce - {{ parent() }}
{% endblock %}

{% block pw6formation_body %}

<h2>Modifier une annonce</h2>

{{ include("PW6FormationBundle:Advert:form.html.twig") }}

<p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit générale de l'annonce déjà publiée.
</p>

<p>
    <a href="{{ path('pw6_formation_view', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à l'annonce
    </a>
</p>

{% endblock %}
