<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MFG Center</title>
    </head>
    <body>
        <h1>Bienvenue {{ nom }}</h1>
        <h2>sur le Gestionnaire des Formations de Mercury</h2>
        <p>
            Bientôt vous pourrez accéder au catalogue des formations proposées.
        </p>
    </body>
</html>
