<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Affichage de la formation {{ id }}</title>
    </head>
    <body>
        <h1>Formation n°{{ id }}</h1>
        <div>
            {% for message in app.session.flashbag.get('info') %}
            <p>
                Message flash : {{ message }}
            </p>
            {% endfor %}
        </div>
        <p>
            Merde
        </p>
    </body>
</html>
